﻿<div class="container" ng-controller="UsersListController as vm">
    <div class="center-block text-center">
        <div class="row row-centered">
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center-block" style="float:none">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-label text-left"><h4>People Search</h4></div>
                        <user-list></user-list>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>