@import '../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';
$lightBlue : #337ab7;
$white : #fff;

.sort-label{
    color: $white;
}

.text-label{
    color: $lightBlue;
}

.panel {
    border: 0;
}