﻿<div>
    <input type="text" ng-model="searchField.firstName" class="form-control" placeholder="Search for...">
    <h4 class="text-left"><span class="label label-success">Sort By: <a href="" class="sort-label" ng-click="sortField='firstName';reverse=!reverse">First name</a></span></h4>
    <ul  class="gallery list-unstyled list-inline center-block text-center">
        <li ng-repeat="user in datausers | filter:searchField:strict | orderBy:sortField:reverse" class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
            <img src="{{user.picture}}" />
            <p class="text-label">{{user.firstName}}</p>
        </li>
    </ul>     
</div>
